# --------------------------------------------------------------------------------
# Insira as chaves publicas uma abaixo da outra
# --------------------------------------------------------------------------------
exemplo-chave-publica-ssh-1 (ssh-rsa AAAAAAAAA.....AAAABBBBBBBB)
exemplo-chave-publica-ssh-2 (ssh-edsa AAAAAAAAA.....AAAABBBBBBB)
exemplo-chave-publica-ssh-3 (ssh-ed25519 AAAAAAAAA......AAAABBBBBBBB)
